.spa-component-grid {
    box-sizing: border-box;
    background-color: #333;
    outline: 1px dashed #005000;
    outline-offset: -1px; }
    .spa-component-grid.hidden {
        display: none; }
    .spa-component-grid table {
        width: 100%;
        table-layout: fixed; }
        .spa-component-grid table td.item {
            cursor: pointer;
            padding: 4px 8px;
            vertical-align: middle;
            text-align: center; }
        .spa-component-grid table td.item.mark {
            color: black;
            background-color: green; }
        .spa-component-grid table td.item.focus {
            color: black;
            background-color: orange; }
        .spa-component-grid table td.item.focus.mark {
            color: white;
            background-color: #AE7200; }
        .spa-component-grid table td.item.disable {
            color: grey;
            background-color: #111; }
    .spa-component-grid.focus {
        outline: 1px dashed red; }
